body{
    background-color: rgb(198, 231, 212);
    font-family: verdana;
}

h1{
    color: rgb(32, 94, 52);
    font-family: verdana;
}

h3{
    color: rgb(94, 32, 32);
    font-family: verdana;
}
